/* line 6, /Users/MariaCristinaSimoes/Desktop/FlatironLabs/Mod-2-Project/app/assets/stylesheets/reviews.scss */
.card {
  font-size: .7rem;
  text-align: center;
  background-color: #eaf2ff;
  width: 60%;
}
