
.welcome {
font-family: 'Homemade Apple', cursive;
padding-top: 50px;
padding-left: 350px;
padding-right: 50px;
padding-bottom: 10px;
font-size: 15px;
}

.description {
font-family: 'PT Mono', monospace;
font-size: 15px;
padding-left :100px;
padding-right :150px
}

.login {
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  box-sizing: content-box;
}

.background {
opacity: 0.5;
width: 2%;
height: 20%;
z-index: -1;
background-position: center;
background-size: cover;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 150px;
width: 150px;
}
